Repository backend-devloper/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, rust

.github/labeler.yml:

python:
  - py-polars/**/*
rust:
  - polars/**/*

feat[rust, python]: run expressions in pivot (#4553)
  polars/Cargo.toml
  polars/polars-core/src/frame/groupby/expr.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-core/src/series/arithmetic/borrowed.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/eval.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/pivot.rs
  polars/polars-lazy/src/physical_plan/exotic.rs
  polars/polars-lazy/src/physical_plan/mod.rs
  py-polars/Cargo.toml
  py-polars/polars/internals/dataframe/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/test_pivot.py
Labels: python, rust

fix[rust]: fast to_list keep logical type (#4551)
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-lazy/src/dsl/function_expr/list.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/functions.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

fix[rust]: csv statistics also sample from end of file (#4554)
  polars/polars-io/src/csv/parser.rs
  polars/polars-io/src/csv/read_impl.rs
  polars/polars-io/src/ndjson_core/ndjson.rs
  py-polars/Makefile
  py-polars/tests_slower/test_csv.py
Labels: python, rust

fix[rust]: skip_rows_after_header improve count (#4560)
  polars/polars-io/src/csv/parser.rs
  polars/polars-io/src/csv/read_impl.rs
  polars/polars-io/src/csv/utils.rs
  py-polars/tests/io/test_csv.py
Labels: python, rust

fix[python]: ensure is_in empty list has dtype null (#4562)
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/src/series.rs
  py-polars/tests/test_lists.py
Labels: python

docs[python]: Updating documentation on null_values in read_csv (#4565)
  py-polars/polars/io.py
Labels: python

test[rust]: assert file chaches are emptied (#4561)
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/file_cache.rs
  polars/polars-lazy/src/physical_plan/state.rs
Labels: rust

feat[rust, python]: Add splitn expression (#4373)
  polars/polars-lazy/src/dsl/string.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr/string.py
  py-polars/polars/internals/series/string.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

feat[rust, python]: struct access ergonomics (#4570)
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/struct_.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/dsl/struct_.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/polars/internals/expr/struct.py
  py-polars/polars/internals/series/struct.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_struct.py
Labels: python, rust

refactor[python]: Dispatch Series namespace methods to Expr using a decorator (#4423)
  py-polars/polars/internals/expr/categorical.py
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/expr/meta.py
  py-polars/polars/internals/expr/string.py
  py-polars/polars/internals/expr/struct.py
  py-polars/polars/internals/series/categorical.py
  py-polars/polars/internals/series/datetime.py
  py-polars/polars/internals/series/list.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/internals/series/string.py
  py-polars/polars/internals/series/struct.py
  py-polars/polars/internals/series/utils.py
  py-polars/polars/testing.py
  py-polars/src/series.rs
  py-polars/tests/test_series.py
Labels: python

feat[python]: minor repr enhancement for Series (#4571)
  .gitignore
  py-polars/polars/internals/series/series.py
  py-polars/tests/test_series.py
Labels: python

fix[python]: Set dtype for empty Series if possible. (#4564)
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/test_series.py
Labels: python

fix[rust]: fix filter(is_in) in groupby context (#4577)
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-lazy/src/physical_plan/expressions/filter.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/utils.rs
  py-polars/tests/test_filter.py
Labels: python, rust

feat[python]: Default to random seed for Series.shuffle (#4583)
  py-polars/polars/internals/series/series.py
  py-polars/src/series.rs
Labels: python

chore[python]: Rename index argument for Expr.take (#4587)
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/src/series.rs
Labels: python

chore[python]: Consistent handling of head/tail (#4588)
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/dataframe/groupby.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/lazyframe/groupby.py
  py-polars/polars/internals/series/list.py
  py-polars/polars/internals/series/series.py
  py-polars/src/series.rs
Labels: python

fix[rust]: properly handle aggregation predicates in filter + groupby context (#4589)
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/physical_plan/expressions/filter.rs
  polars/polars-lazy/src/utils.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/test_filter.py
Labels: python, rust

refactor[python]: Dispatch more `Series` methods to `Expr` (#4586)
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/list.py
  py-polars/polars/internals/series/series.py
  py-polars/src/series.rs
Labels: python

feat[rust, python]: integrate missing `us` timeunit functionality for duration/timedelta (#4584)
  polars/polars-core/src/chunked_array/logical/duration.rs
  polars/polars-core/src/datatypes/_serde.rs
  polars/polars-lazy/src/dsl/options.rs
  polars/polars-time/src/chunkedarray/duration.rs
  py-polars/polars/datatypes.py
  py-polars/polars/datatypes_constructor.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/expr/string.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/datetime.py
  py-polars/polars/io.py
  py-polars/polars/utils.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_datelike.py
  py-polars/tests/test_series.py
Labels: python, rust

refactor[python]: Dispatch more Series methods to Expr (#4593)
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/src/series.rs
Labels: python

fix[python]: assign appropriate timeunit to `Series` generated by `date_range` (#4592)
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/series/datetime.py
  py-polars/polars/utils.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_utils.py
Labels: python, rust

fix[rust]: keep date dtype in date + duration (#4590)
  polars/polars-core/src/series/arithmetic/borrowed.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

fix[python]: make view memory safe (#4594)
  polars/polars-arrow/src/kernels/set.rs
  polars/polars-core/src/chunked_array/ops/mod.rs
  polars/polars-core/src/chunked_array/ops/set.rs
  py-polars/polars/internals/series/_numpy.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/utils.py
  py-polars/src/series.rs
  py-polars/src/set.rs
  py-polars/tests/test_interop.py
  py-polars/tests/test_series.py
Labels: python, rust

docs[python]: Fix broken part of read_excel docstring (#4596)
  py-polars/polars/io.py
Labels: python

chore[python]: remove `Series.inner` (#4595)
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/series/series.py
Labels: python

fix[rust]: serde timeunit of datetime type (#4598)
  polars/polars-core/src/serde/mod.rs
  polars/polars-core/src/serde/series.rs
  py-polars/tests/test_serde.py
Labels: python, rust

feat[python,rust]: Add `nulls_last` option to `Expr.arg_sort` (#4600)
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/tests/aggregations.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
Labels: python, rust

feat[python]: Add `Expr.limit` alias (#4597)
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/src/series.rs
Labels: python

feat[rust, python]: Support `length=None` for `Expr.slice` (#4603)
  polars/polars-lazy/src/physical_plan/expressions/slice.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/expr/string.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/list.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/internals/series/string.py
  py-polars/src/lazy/dsl.rs
  py-polars/src/series.rs
Labels: python, rust

docs[python]: Fix incorrect links (#4602)
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
Labels: python

fix[rust]: fix joinasof + by schema (#4607)
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/schema.rs
  py-polars/tests/test_schema.py
Labels: python, rust

fix[rust]: asof-join projection pushdown of 'by' argument (#4609)
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  py-polars/tests/test_joins.py
Labels: python, rust

feat[python]: Optionally return an writable numpy array with Series().to_numpy(writable=True) (#4563) (#4566)
  py-polars/polars/internals/series/series.py
  py-polars/tests/test_series.py
Labels: python

fix[rust]: scan_csv 'n_rows' should block predicate pushdown (#4611)
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  py-polars/tests/io/test_lazy_csv.py
Labels: python, rust

feat[rust, python]: top_k expression (#4556)
  polars/Cargo.toml
  polars/polars-arrow/src/kernels/rolling/mod.rs
  polars/polars-core/src/chunked_array/ops/sort/argsort.rs
  polars/polars-core/src/chunked_array/ops/sort/argsort_multiple.rs
  polars/polars-core/src/chunked_array/ops/sort/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/mod.rs
  polars/polars-ops/src/chunked_array/top_k.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_sort.py
Labels: python, rust

python polars 0.14.6 (#4612)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

ci: ensure db-benchmark runs on categorical dtypes (#4613)
  .github/workflows/benchmark.yaml
  py-polars/tests/db-benchmark/main.py
Labels: python

docs[python]: add favicon/touchicon (#4599)
  py-polars/docs/source/conf.py
Labels: python

ci: improve db-benchmark q8 (~2x faster) (#4614)
  py-polars/tests/db-benchmark/main.py
Labels: python

docs[python]: Fix some docstring formatting (#4601)
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/dataframe/groupby.py
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/expr/struct.py
  py-polars/tests/run_doc_examples.py
  py-polars/tests/test_cfg.py
  py-polars/tests/test_df.py
  py-polars/tests/test_series.py
Labels: python
