Repository backend-devloper/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, rust

.github/labeler.yml:

python:
  - py-polars/**/*
rust:
  - polars/**/*

ci: Update PR labeler version (#4816)
  .github/workflows/labeler.yaml
Labels: none

ci[rust,python]: Improve docs workflows (#4806)
  .github/workflows/docs-check.yaml
  .github/workflows/docs-deploy.yaml
Labels: none

ci[rust,python]: Improve benchmark workflow (#4800)
  .github/workflows/benchmark.yaml
Labels: none

fix[rust]: fix groupby_dynamic flat agg type (#4822)
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/tests/unit/test_groupby.py
Labels: python, rust

refactor[rust]: refactor Udf node to MapFunciton and make function statically known (#4824)
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/functions/mod.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/drop_nulls.rs
  polars/polars-lazy/src/logical_plan/optimizer/fast_projection.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-lazy/src/physical_plan/executors/udf.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/utils.rs
Labels: rust

feat[rust]: remove unneeded fast projections from optimized plan (#4826)
  polars/polars-lazy/src/logical_plan/optimizer/fast_projection.rs
Labels: rust

feat[rust]: improve dot diagram (show cache) (#4828)
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/logical_plan/mod.rs
Labels: rust

ci[python]: Disable `fail-fast` for Python test job (#4835)
  .github/workflows/test-python.yaml
Labels: none

ci: Fix deploy-docs workflow (#4832)
  .github/workflows/docs-deploy.yaml
Labels: none

docs: revert old docs pipeline (#4836)
  .github/workflows/docs-deploy.yaml
Labels: none

docs[python] more docstrings (#4825)
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
Labels: python

feat[python]: Add "all" optional dependency (#4811)
  README.md
  py-polars/pyproject.toml
Labels: python

feat[python]: improve frame init from `@dataclass` and `namedtuple` rows (#4807)
  py-polars/polars/datatypes.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/series/utils.py
  py-polars/tests/slow/test_csv.py
  py-polars/tests/unit/test_datatypes.py
  py-polars/tests/unit/test_df.py
Labels: python

feat[rust]: show problematic values in failed cast (#4803)
  polars/polars-core/src/series/mod.rs
  py-polars/tests/unit/test_series.py
Labels: python, rust

feat[rust, python]: various str.strptime enhancements/fixes, and new fractional seconds option for dt.seconds, #4829
  polars/polars-time/src/chunkedarray/utf8/mod.rs
  polars/polars-time/src/chunkedarray/utf8/patterns.rs
  py-polars/polars/datatypes.py
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/expr/string.py
  py-polars/polars/internals/series/datetime.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/internals/series/string.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_datelike.py
  py-polars/tests/unit/test_series.py
Labels: python, rust

fix[rust]: Improve DataFrame.describe() percentage formatting (#4823)
  polars/polars-core/src/frame/mod.rs
Labels: rust

bug[rust]: Fix float display (#4840)
  polars/polars-core/src/fmt.rs
  py-polars/polars/internals/expr/expr.py
  py-polars/tests/unit/test_fmt.py
Labels: python, rust

chore[python]: Add coverage settings to pyproject.toml (#4845)
  .github/workflows/test-python.yaml
  py-polars/Makefile
  py-polars/pyproject.toml
Labels: python

python polars 0.14.11 (#4848)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

feat[python]: and count and null count to DataFrame.describe() (#4820)
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/unit/test_df.py
Labels: python

feat[python]: more pl.Time support (#4852)
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/utils.py
  py-polars/tests/unit/test_datelike.py
  py-polars/tests/unit/test_utils.py
Labels: python

refactor[rust]: Fix some warnings #4857
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  polars/polars-lazy/src/dsl/function_expr/shift_and_fill.rs
  polars/polars-lazy/src/dsl/function_expr/temporal.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/utils.rs
Labels: rust

refactor[rust, python]: default to cse (#4859)
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/cache_states.rs
  polars/polars-lazy/src/logical_plan/optimizer/drop_nulls.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/utils.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/lazyframe/frame.py
Labels: python, rust

fix[rust]: df! macro hygiene (#4860)
  polars/polars-core/src/utils/mod.rs
Labels: rust

fix[rust]: fix panic in strptime (#4862)
  polars/polars-lazy/src/physical_plan/executors/cache.rs
  polars/polars-time/src/chunkedarray/utf8/strptime.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, rust

refactor[rust]: do not set cse caches if cache set by user (#4863)
  polars/polars-lazy/src/logical_plan/optimizer/cse.rs
Labels: rust

feat[rust]: autorename duplicated column in csv parsing (#4864)
  polars/polars-io/src/csv/utils.rs
  polars/tests/it/io/csv.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust

feat[rust]: serde for `Duration` type (#4867)
  polars/polars-core/src/serde/mod.rs
  polars/polars-core/src/serde/series.rs
  py-polars/tests/unit/test_serde.py
Labels: python, rust

docs[python]: configure intersphinx mapping & update references (#4866)
  py-polars/docs/source/conf.py
  py-polars/polars/convert.py
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/io.py
Labels: python

chore[rust]: update arrow (#4868)
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/utils.rs
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

fix[rust]: fill_null static schema (#4870)
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/polars-lazy/src/logical_plan/schema.rs
  polars/polars-lazy/src/utils.rs
  polars/polars-utils/src/arena.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust

feat[rust]: add iso_year and make dt computed attributes serde (#4873)
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-lazy/src/dsl/function_expr/datetime.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  polars/polars-time/src/chunkedarray/date.rs
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/chunkedarray/kernels.rs
  polars/polars-time/src/series/mod.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/series/datetime.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, rust

fix[rust]: fix panic in csv globbing arguments (#4874)
  polars/polars-lazy/src/frame/csv.rs
Labels: rust

feat[python]: allow Series.apply to include null values (#4875)
  py-polars/polars/internals/series/series.py
  py-polars/src/series.rs
  py-polars/tests/unit/test_apply.py
Labels: python

fix[rust]: struct broadcasting (#4876)
  polars/polars-core/src/chunked_array/logical/struct_/mod.rs
  py-polars/tests/unit/test_struct.py
Labels: python, rust

docs[python]: update is_finite doc comment (#4886)
  polars/polars-core/src/series/mod.rs
Labels: rust

perf[rust]: replace col(utf8) + col(utf8) .. + col(utf8) with concat_str (#4883)
  polars/Cargo.toml
  polars/polars-algo/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  polars/polars-lazy/src/dsl/function_expr/strings.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
  polars/polars-lazy/src/tests/projection_queries.rs
  polars/polars-lazy/src/tests/tpch.rs
  polars/src/lib.rs
Labels: rust

fix[rust]: fix predicate pushdown of complicated predicate on aliased projection (#4887)
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/tests/it/lazy/predicate_queries.rs
Labels: rust

feat[rust, python]: allow setting by multiple values for boolean and utf8 physical types (#4889)
  polars/polars-ops/src/chunked_array/set.rs
  py-polars/polars/internals/series/series.py
  py-polars/src/set.rs
  py-polars/tests/unit/test_series.py
Labels: python, rust

fix[rust]: dynamically determine union parallelism (#4890)
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/frame/ipc.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/frame/parquet.rs
  polars/polars-lazy/src/logical_plan/optimizer/cache_states.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-lazy/src/logical_plan/options.rs
  polars/polars-lazy/src/physical_plan/executors/union.rs
  polars/polars-lazy/src/tests/cse.rs
  polars/tests/it/lazy/predicate_queries.rs
  py-polars/polars/internals/functions.py
  py-polars/src/lib.rs
Labels: python, rust
