Repository backend-devloper/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, rust

refactor[python]: revert decompress-fast for python (#4894)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

rust polars 0.24.0 (#4895)
  polars/Cargo.toml
  polars/Makefile
  polars/polars-algo/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

python polars 0.14.12 (#4897)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

chore[python]: Apply yesqa (#4899)
  py-polars/polars/io.py
  py-polars/tests/unit/io/test_other.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_fmt.py
Labels: python

feat[rust, python]: nan_min/nan_max expression (nan propagating aggregations) (#4902)
  polars/Cargo.toml
  polars/polars-core/src/datatypes/dtype.rs
  polars/polars-core/src/frame/groupby/aggregations/agg_list.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/chunked_array/mod.rs
  polars/polars-ops/src/chunked_array/nan_propagating_aggregate.rs
  polars/src/lib.rs
  py-polars/Cargo.toml
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_functions.py
Labels: python, rust

feat[rust, python]: Add formatting options to render tables without borders / lines, define cell alignment, and hide column names (#4750)
  polars/polars-core/src/fmt.rs
  polars/src/lib.rs
  py-polars/docs/source/reference/config.rst
  py-polars/polars/cfg.py
  py-polars/tests/unit/test_cfg.py
Labels: python, rust

chore[python]: Fix test for pandas 1.5.0 (#4908)
  py-polars/tests/unit/test_interop.py
Labels: python

chore[python]: Fix typo in docs reference (#4907)
  py-polars/docs/source/reference/lazyframe.rst
Labels: python

fix[rust]: don't unwrap if lp has no input (#4909)
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/tests/unit/test_predicates.py
Labels: python, rust

docs[rust]: Fix pivot document (#4910)
  polars/src/docs/eager.rs
Labels: rust

feat[rust, python]: make list::vec_hash fallible (#4913)
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-core/src/vector_hasher.rs
  polars/polars-ops/src/series/ops/various.rs
  py-polars/docs/source/reference/exceptions.rst
  py-polars/polars/__init__.py
  py-polars/polars/exceptions.py
  py-polars/src/error.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust

fix[rust]: strptime should not panic on invalid dates (#4914)
  polars/polars-time/src/chunkedarray/utf8/strptime.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, rust

fix[python]: fix json_path_match dtype (#4915)
  polars/polars-lazy/src/physical_plan/executors/filter.rs
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_utf8.py
Labels: python, rust

fix[rust]: determine supertype of structs (#4916)
  polars/polars-core/src/utils/mod.rs
  polars/polars-core/src/utils/supertype.rs
  py-polars/tests/unit/test_struct.py
Labels: python, rust

fix[python, rust]: address categorical-related edge cases with init from empty Arrow arrays (chunked or otherwise) (#4918)
  polars/polars-core/src/series/from.rs
  py-polars/polars/internals/construction.py
  py-polars/tests/unit/test_series.py
Labels: python, rust

perf[rust]: don't allocate indices on rolling_groupby + by (#4917)
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/proxy.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/single_keys_dispatch.rs
  polars/polars-core/src/lib.rs
  polars/polars-core/src/vector_hasher.rs
  polars/polars-time/src/groupby/dynamic.rs
Labels: rust

fix[python]: Series init issue with unit/precision (from python datetime) (#4921)
  py-polars/polars/internals/construction.py
  py-polars/tests/unit/test_datelike.py
Labels: python

feat[rust]: groupby numeric list columns (#4919)
  polars/polars-arrow/src/kernels/list_bytes_iter.rs
  polars/polars-arrow/src/kernels/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  polars/polars-core/src/chunked_array/ops/unique/mod.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/series/implementations/boolean.rs
  polars/polars-core/src/series/implementations/categorical.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-core/src/series/implementations/struct_.rs
  polars/polars-core/src/series/implementations/utf8.rs
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-ops/src/chunked_array/to_dummies.rs
  polars/polars-ops/src/series/ops/various.rs
  polars/tests/it/core/groupby.rs
  py-polars/Cargo.toml
  py-polars/tests/unit/test_lists.py
Labels: python, rust

refactor[rust]: call Field::from_owned (#4922)
  polars/polars-lazy/src/dsl/string.rs
Labels: rust

fix[rust]: fix trails collection and comparison in cse optimzer (#4927)
  polars/polars-lazy/src/logical_plan/optimizer/cache_states.rs
  polars/polars-lazy/src/logical_plan/optimizer/cse.rs
  polars/polars-lazy/src/tests/cse.rs
  polars/polars-lazy/src/utils.rs
Labels: rust

fix[python]: dispatch logical type arithmetic to series (#4929)
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_arithmetic.py
Labels: python

feat[rust, python]: coalesce function (#4931)
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/fill_null.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  polars/polars-lazy/src/dsl/functions.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/lib.rs
  py-polars/tests/unit/test_functions.py
Labels: python, rust

fix[python]: prevent invalid use of `Series`, `DataFrame`, and `LazyFrame` in logical boolean context (#4928)
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/datetime.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/test_datelike.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_exprs.py
  py-polars/tests/unit/test_interop.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_series.py
  py-polars/tests/unit/test_strings.py
Labels: python

feat[rust, python]: add missing "millisecond" and "microsecond" accessors for datetime exprs/series (#4932)
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-lazy/src/dsl/function_expr/datetime.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/series/datetime.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/db-benchmark/main.py
  py-polars/tests/unit/test_series.py
Labels: python, rust

perf[rust]: build categoricals in csv reader (#4933)
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-io/src/csv/buffer.rs
  polars/polars-io/src/csv/parser.rs
  polars/polars-io/src/csv/read.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust

feat[python]: add new (optional) "name" param to `Series.to_frame` (#4934)
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series/datetime.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_series.py
Labels: python

docs[python]: enhanced docstrings for "apply" methods (#4942)
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/dataframe/groupby.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/lazyframe/groupby.py
  py-polars/polars/internals/series/series.py
Labels: python

fix[rust]: unset sorted flag on mutation (#4943)
  polars/polars-core/src/chunked_array/arithmetic.rs
  polars/polars-core/src/chunked_array/ops/apply.rs
  polars/polars-core/src/chunked_array/ops/downcast.rs
  polars/polars-ops/src/chunked_array/set.rs
  py-polars/tests/unit/test_sort.py
Labels: python, rust

feat[rust]: spearman rank null/nan handling (#4944)
  polars/polars-core/src/series/series_trait.rs
  polars/polars-lazy/src/dsl/functions.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/lib.rs
  py-polars/tests/unit/test_functions.py
Labels: python, rust

fix[rust, python]: make cut work on integer types (#4945)
  polars/polars-algo/src/algo.rs
  py-polars/polars/internals/functions.py
  py-polars/tests/unit/test_functions.py
Labels: python, rust

refactor[rust]: deprecate eager groupby aggregation methods (#4946)
  polars/polars-core/src/frame/groupby/mod.rs
Labels: rust

refactor[rust]: fix polars-sql compilation (#4947)
  polars-sql/src/context.rs
  polars-sql/src/lib.rs
  polars-sql/src/sql_expr.rs
Labels: none

rust polars 0.24.1 (#4948)
  polars/Cargo.toml
  polars/polars-algo/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

python polars 0.14.13 (#4949)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

fix[python, rust]: properly handle multiple chunks in ewm computations (#4955)
  polars/polars-arrow/src/kernels/ewm/average.rs
  polars/polars-arrow/src/kernels/ewm/variance.rs
  polars/polars-core/src/series/ops/ewm.rs
  py-polars/tests/unit/test_exprs.py
Labels: python, rust

ci[python]: allow deprecated calls (#4958)
  polars-sql/Cargo.toml
  polars-sql/src/context.rs
  polars-sql/src/lib.rs
  polars-sql/src/main.rs
  py-polars/src/dataframe.rs
Labels: python

fix[rust]: cse don't see only a single side of a join trail as equal (#4959)
  polars/polars-lazy/src/logical_plan/optimizer/cse.rs
  polars/polars-lazy/src/tests/cse.rs
Labels: rust

fix[rust]: fix invalid length bitmask in _rolling_apply_agg_window_nulls (#4960)
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
Labels: rust

ci: Pin test Python version to 3.10.6 (#4962)
  .github/workflows/test-python.yaml
Labels: none

feat[python]: allow construction of 2D numpy arrays (list type) (#4961)
  py-polars/polars/internals/construction.py
  py-polars/tests/unit/test_constructors.py
  py-polars/tests/unit/test_series.py
Labels: python

.github/labeler.yml:

python:
  - py-polars/**/*
rust:
  - polars/**/*
