Repository backend-devloper/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, rust

.github/labeler.yml:

python:
  - py-polars/**/*
rust:
  - polars/**/*

fix[rust]: throw errors on double aggregations (#4748)
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  polars/polars-core/src/chunked_array/ops/take/take_single.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/aggregation.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust

perf[rust]: SIMD accelerate bound checks in take (#4754)
  polars/polars-arrow/src/compute/take/mod.rs
  polars/polars-core/src/chunked_array/ops/take/mod.rs
  polars/polars-core/src/chunked_array/ops/take/traits.rs
Labels: rust

chore[rust]: update arrow (#4758)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

fix[rust, python]: accept schema in lazy groupby apply (#4756)
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-lazy/src/frame/mod.rs
  py-polars/polars/internals/lazyframe/groupby.py
  py-polars/src/lazy/dataframe.rs
  py-polars/tests/unit/test_lazy.py
Labels: python, rust

fix[python]: keep column type of empty arrow table (#4759)
  py-polars/polars/internals/construction.py
  py-polars/tests/unit/test_interop.py
Labels: python

feat[python]: api consistency; allow fluent calling pattern everywhere (#4761)
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_series.py
Labels: python

docs[rust] fix some minor typos (#4763)
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/chunked_array/ops/extend.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/series/series_trait.rs
Labels: rust

feat[rust, python]: Add profiling to lazy execution (#4764)
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/physical_plan/executors/drop_duplicates.rs
  polars/polars-lazy/src/physical_plan/executors/explode.rs
  polars/polars-lazy/src/physical_plan/executors/filter.rs
  polars/polars-lazy/src/physical_plan/executors/groupby.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/executors/join.rs
  polars/polars-lazy/src/physical_plan/executors/melt.rs
  polars/polars-lazy/src/physical_plan/executors/mod.rs
  polars/polars-lazy/src/physical_plan/executors/projection.rs
  polars/polars-lazy/src/physical_plan/executors/scan/csv.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  polars/polars-lazy/src/physical_plan/executors/scan/mod.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  polars/polars-lazy/src/physical_plan/executors/slice.rs
  polars/polars-lazy/src/physical_plan/executors/sort.rs
  polars/polars-lazy/src/physical_plan/executors/stack.rs
  polars/polars-lazy/src/physical_plan/executors/udf.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/node_timer.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-lazy/src/utils.rs
  py-polars/docs/source/reference/lazyframe.rst
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/src/lazy/dataframe.rs
Labels: python, rust

ci[python]: Improved clippy (#4767)
  .github/workflows/benchmark.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-python.yaml
  py-polars/Makefile
  py-polars/src/apply/series.rs
  py-polars/src/dataframe.rs
  py-polars/src/lazy/apply.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/set.rs
Labels: python

ci[python]: Merge test-python workflows (#4768)
  .github/workflows/test-python.yaml
Labels: none

feat[python]: add new utility function "align_frames" (#4765)
  py-polars/polars/__init__.py
  py-polars/polars/convert.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/tests/unit/test_functions.py
Labels: python

ci[python,rust]: Use `env` keyword instead of export (#4775)
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/create-py-release-manylinux-lts-cpu.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/docs_check.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
Labels: none

feat[python]: unstack operation (#4777)
  py-polars/docs/source/reference/dataframe.rst
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/type_aliases.py
Labels: python

fix[rust]: only cast physical inner types in list (#4776)
  polars/polars-core/src/chunked_array/builder/list.rs
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/ops/append.rs
  polars/polars-core/src/datatypes/dtype.rs
  polars/polars-core/src/datatypes/field.rs
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-ops/src/chunked_array/list/namespace.rs
  py-polars/tests/unit/test_categorical.py
Labels: python, rust

fix: fix null not-equal; fixed upstream (#4779)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
  py-polars/tests/unit/test_queries.py
Labels: python, rust

ci[python,rust]: Use working-directory (#4769)
  .github/workflows/build-test.yaml
  .github/workflows/docs.yaml
  .github/workflows/docs_check.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
Labels: none

fix[rust]: fix predicate pushdown of unions #4780
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/tests/queries.rs
  polars/polars-lazy/src/utils.rs
  py-polars/tests/unit/test_df.py
Labels: python, rust

fix[rust]: fix quadratic behavior in deeply nested expressions (#4782)
  polars/polars-lazy/src/logical_plan/aexpr.rs
  py-polars/tests/unit/test_lazy.py
Labels: python, rust

python 0.14.10 (#4783)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

ci[rust]: Use new Rust toolchain action (#4786)
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/coverage.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
Labels: none

refactor: Remove dead code & consolidate `with_column` (#4787)
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/unit/test_df.py
Labels: python

feat[rust, python]: Support casting Datetime to Time (#4771) (#4772)
  polars/polars-core/src/chunked_array/logical/datetime.rs
  py-polars/tests/unit/test_series.py
Labels: python, rust

Upgrade setup-python action (#4781)
  .github/workflows/benchmark.yaml
  .github/workflows/coverage.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux-lts-cpu.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs.yaml
  .github/workflows/docs_check.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
Labels: none

ci[rust,python]: Remove joint coverage workflow (#4790)
  .github/workflows/coverage.yaml
  Makefile
Labels: none

feat[python]: Support reading all sheets xlsx file (#4634)
  py-polars/build.requirements.txt
  py-polars/polars/io.py
  py-polars/tests/files/example.xlsx
  py-polars/tests/io/test_excel.py
Labels: python

fix[rust]: block predicate on join if already in left table (#4791)
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/tests/predicate_queries.rs
Labels: rust

fix[rust]: fix semi/anti join schema (#4793)
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/logical_plan/schema.rs
  py-polars/tests/unit/test_projections.py
Labels: python, rust

fix[python]: init from empty arrow series (no data/not chunked) (#4792)
  py-polars/polars/internals/construction.py
  py-polars/tests/unit/test_df.py
Labels: python

feat[python]: allow ".row(idx)" to index with a predicate (#4785)
  py-polars/docs/source/reference/exceptions.rst
  py-polars/polars/exceptions.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/parametric/test_testing.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_exprs.py
Labels: python

feat[rust, python]: introduce `bias` parameter to `ewm_var` and `ewm_mean` (#4636)
  .gitignore
  polars/polars-arrow/src/kernels/ewm/average.rs
  polars/polars-arrow/src/kernels/ewm/mod.rs
  polars/polars-arrow/src/kernels/ewm/variance.rs
  polars/polars-core/src/series/ops/ewm.rs
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_series.py
Labels: python, rust

ci[python]: Separate linting from testing (#4795)
  .github/workflows/benchmark.yaml
  .github/workflows/lint-python.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  CONTRIBUTING.md
  py-polars/Makefile
  py-polars/requirements-dev.txt
  py-polars/requirements-lint.txt
Labels: python

ci[rust,python]: Improve `fmt_all` workflow (#4798)
  .github/workflows/fmt_all.yaml
  .github/workflows/lint-global.yaml
  dprint.json
Labels: none

docs[python]: Improve docstrings for LazyFrame JSON methods (#4805)
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
Labels: python

refactor[python]: dispatch `join` logic to `LazyFrame` side (#4804)
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/__init__.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/lazyframe/groupby.py
  py-polars/src/dataframe.rs
Labels: python

ci[python]: Update Test Python Windows workflow
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
Labels: none

feat[rust]: Use zlib-ng again for decompressing gzipped CSV files (#3895)- (#4802)
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv/utils.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, rust

chore[python]: Add backticks to version details in template (#4821)
  .github/ISSUE_TEMPLATE/bug_report_python.yml
Labels: none

fix[rust]: Fix wrong schema inference with skip_rows_after_header (#4728) (#4818)
  polars/polars-io/src/csv/read_impl.rs
  polars/polars-io/src/csv/utils.rs
  polars/polars-lazy/src/frame/csv.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust

refactor[python]: Replace pytz by stdlib zoneinfo (#4809)
  README.md
  py-polars/polars/datatypes.py
  py-polars/polars/show_versions.py
  py-polars/polars/utils.py
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/src/conversion.rs
  py-polars/tests/unit/test_datelike.py
Labels: python

ci[rust]: Improve Rust build/test workflows (#4817)
  .github/workflows/build-test-rust.yaml
  .github/workflows/build-test.yaml
  .github/workflows/test-windows.yaml
Labels: none
