Repository backend-devloper/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, rust

.github/labeler.yml:

python:
  - py-polars/**/*
rust:
  - polars/**/*

update arrow (#4685)
  Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-io/src/parquet/write.rs
  py-polars/Cargo.lock
Labels: python, rust

fix[python]: fix "assert_series_equal" for specific arrangements of null (#4683)
  py-polars/polars/testing.py
  py-polars/tests/test_series.py
  py-polars/tests/test_testing.py
Labels: python

refactor[rust]: implement Display for FunctionExpr (#4684)
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-lazy/src/dsl/function_expr/list.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/strings.rs
  polars/polars-lazy/src/dsl/function_expr/struct_.rs
  polars/polars-lazy/src/dsl/function_expr/trigonometry.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/dsl/string.rs
  polars/polars-lazy/src/dsl/struct_.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/options.rs
Labels: rust

fix[rust]: fix rename edge case caused by redundant mappings (#4689)
  polars/polars-lazy/src/frame/mod.rs
  py-polars/tests/test_schema.py
Labels: python, rust

fix[rust]: keep list<cat> on rechunk (#4691)
  polars/polars-core/src/chunked_array/logical/categorical/merge.rs
  polars/polars-core/src/chunked_array/logical/categorical/mod.rs
  polars/polars-core/src/chunked_array/ops/append.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/chunked_array/ops/extend.rs
  polars/polars-core/src/chunked_array/ops/shift.rs
  polars/polars-core/src/series/implementations/list.rs
  polars/polars-lazy/src/tests/queries.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/test_constructors.py
  py-polars/tests/test_datelike.py
  py-polars/tests/test_lists.py
Labels: python, rust

refactor[rust]: Expr::Reverse -> Expr::Function(FunctionExpr::Reverse) (#4692)
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr/dispatch.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
Labels: rust

chore[rust]: Fix some test warnings (#4697)
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

refactor[python]: Standardize class method order (#4690)
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/series.py
Labels: python

refactor[rust]: not/isnull/isnotnull to FunctionExpr (#4696)
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr/dispatch.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/drop_nulls.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown_expr.rs
  polars/polars-lazy/src/physical_plan/executors/union.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/is_not_null.rs
  polars/polars-lazy/src/physical_plan/expressions/is_null.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/not.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/src/lib.rs
Labels: rust

refactor[python]: Dispatch Series.dt.with_time_zone to Expr (#4701)
  py-polars/polars/internals/series/datetime.py
  py-polars/src/series.rs
Labels: python

refactor[python]: Standardize `DataFrame` method order (#4703)
  py-polars/polars/internals/dataframe/frame.py
Labels: python

feat[rust]: format_str to lazy expressions API (#4693)
  polars/Cargo.toml
  polars/polars-core/src/functions.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/functions.rs
  polars/src/lib.rs
  polars/tests/it/lazy/functions.rs
  polars/tests/it/lazy/mod.rs
Labels: rust

feat[python]: allow object literals (#4708)
  polars/polars-core/src/series/implementations/object.rs
  polars/polars-lazy/src/logical_plan/lit.rs
  py-polars/Cargo.toml
  py-polars/polars/_html.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/conversion.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/lib.rs
  py-polars/tests/test_object.py
Labels: python, rust

refactor[rust]: is_unique/is_duplicated -> FunctionExpr (#4711)
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr/dispatch.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/tests/unit/test_object.py
Labels: python, rust

refactor[python]: Some minor stuff (#4704)
  py-polars/docs/source/reference/io.rst
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/io.py
  py-polars/polars/string_cache.py
  py-polars/tests/unit/test_df.py
Labels: python

fix[rust]: process columns arg in memmapped ipc (#4713)
  polars/polars-io/src/avro/read.rs
  polars/polars-io/src/ipc/ipc_file.rs
  polars/polars-io/src/ipc/ipc_stream.rs
  polars/polars-io/src/ipc/mmap.rs
  polars/polars-io/src/parquet/read.rs
  polars/polars-io/src/utils.rs
  py-polars/tests/unit/io/test_ipc.py
Labels: python, rust

Implement `cut()` and add algoritims crate (#4715)
  Cargo.toml
  polars/Cargo.toml
  polars/polars-algo/Cargo.toml
  polars/polars-algo/src/algo.rs
  polars/polars-algo/src/lib.rs
Labels: rust

feat[rust, python]: support custom null value for csv output (#4714)
  polars/polars-io/src/csv/write.rs
  polars/polars-io/src/csv/write_impl.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust

chore[python]: Better Makefile (#4712)
  py-polars/Makefile
Labels: python

chore[python]: remove local lto compilation (#4719)
  py-polars/Cargo.toml
Labels: python

refactor[rust]: remove deprecated pivot code and move to polars-ops (#4717)
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/groupby/pivot.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/frame/pivot.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/lib.rs
  polars/polars-ops/src/pivot.rs
  polars/tests/it/core/mod.rs
  polars/tests/it/core/pivot.rs
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/dataframe/pivot.py
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
Labels: python, rust

chore[python]: Makefile venv rule should not be .PHONY (#4722)
  py-polars/Makefile
Labels: python

fix[rust]: fix alignment in joins (#4723)
  polars/polars-core/src/frame/asof_join/groups.rs
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/multiple_keys.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/tests/it/core/joins.rs
  py-polars/src/dataframe.rs
  py-polars/tests/unit/test_joins.py
Labels: python, rust

test[rust]: Ignore broken test (#4698)
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
Labels: rust

fix[rust]: inform projection optimizer of inline join expressions (#4725)
  polars/polars-lazy/src/logical_plan/alp.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/logical_plan/schema.rs
  polars/polars-lazy/src/physical_plan/planner/lp.rs
  polars/polars-lazy/src/utils.rs
  py-polars/tests/unit/test_joins.py
Labels: python, rust

feat[rust, python]: if datetime format not specified for "write_csv", infer the required precision (#4724)
  polars/polars-io/src/csv/write.rs
  polars/polars-io/src/csv/write_impl.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/src/dataframe.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust

perf[rust]: improve `pivot ~2.2x` and `groupby_stable` performance. (#4726)
  polars/polars-core/src/frame/groupby/hashing.rs
  polars/polars-core/src/frame/groupby/into_groups.rs
  polars/polars-core/src/frame/groupby/mod.rs
  polars/polars-core/src/frame/hash_join/sort_merge.rs
  polars/polars-core/src/series/mod.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-ops/src/pivot/mod.rs
  polars/polars-ops/src/pivot/positioning.rs
  polars/polars-time/src/windows/groupby.rs
Labels: rust

fix[rust]: fix comparison_and_validity kernels upstream (#4729)
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

fix[rust]: ensure we can keep unsigned in fold sum all (#4730)
  polars/polars-core/src/chunked_array/ops/is_in.rs
  polars/polars-core/src/frame/arithmetic.rs
  polars/polars-core/src/frame/explode.rs
  polars/polars-core/src/frame/mod.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-core/src/series/arithmetic/borrowed.rs
  polars/polars-core/src/series/arithmetic/mod.rs
  polars/polars-core/src/series/arithmetic/owned.rs
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-ops/src/chunked_array/list/namespace.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/src/dataframe.rs
  py-polars/src/lib.rs
  py-polars/tests/unit/test_schema.py
Labels: python, rust

python polars 0.14.9 (#4731)
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

fix[rust]: keep sorted flag after join (#4734)
  polars/polars-core/src/frame/hash_join/mod.rs
  py-polars/tests/unit/test_joins.py
Labels: python, rust

perf[rust]: cast to physical before iter in hash list (#4735)
  polars/polars-core/src/chunked_array/cast.rs
  polars/polars-core/src/chunked_array/mod.rs
  polars/polars-core/src/series/ops/to_list.rs
  polars/polars-ops/src/chunked_array/list/hash.rs
  polars/polars-ops/src/series/ops/various.rs
Labels: rust

chore[python]: Fix types for DataFrame.write_csv (#4738)
  py-polars/polars/internals/dataframe/frame.py
Labels: python

fix[rust]: fix and test sortedness propagation in joins (#4737)
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-core/src/frame/hash_join/single_keys_dispatch.rs
  polars/polars-core/src/frame/mod.rs
  py-polars/tests/unit/test_joins.py
Labels: python, rust

fix[python]: Print correct settings for enabling experimental **kwargs support (#4740) (#4742)
  py-polars/polars/internals/lazyframe/frame.py
Labels: python

feat[python]: Complain when Pandas Dataframe contains duplicated column names (#4733) (#4744)
  py-polars/polars/internals/construction.py
  py-polars/tests/unit/test_interop.py
Labels: python

ci[python]: Separate docs requirements (#4739)
  .github/workflows/docs.yaml
  .github/workflows/docs_check.yaml
  CONTRIBUTING.md
  py-polars/Makefile
  py-polars/build.requirements.txt
  py-polars/docs/requirements-docs.txt
Labels: python

feat[python]: JSON IO functions (#4721)
  py-polars/docs/source/reference/io.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/io.py
  py-polars/src/dataframe.rs
  py-polars/tests/unit/io/test_json.py
Labels: python

refactor[python]: prefer "Sequence" to "list" in various type signatures (#4746)
  py-polars/polars/internals/construction.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/utils.py
  py-polars/tests/unit/test_apply.py
Labels: python

docs[python]: Update Sphinx config (#4749)
  py-polars/docs/requirements-docs.txt
  py-polars/docs/source/conf.py
  py-polars/tests/docs/run_doc_examples.py
Labels: python
