Repository backend-devloper/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, rust

ci: release polars-lts-cpu; a more conservative binary (#4615)
  .github/workflows/create-py-release-manylinux-lts-cpu.yaml
  README.md
Labels: none

docs[python]: Render long method names on multiple lines (#4591) (#4604)
  py-polars/docs/source/_static/css/custom.css
Labels: python

fix[python]: Fix datatype pickling (#4621)
  py-polars/polars/datatypes.py
  py-polars/tests/test_datatypes.py
Labels: python

feat[python]: Preserve subclass for `DataFrame.select` (#4620)
  py-polars/polars/internals/dataframe/frame.py
Labels: python

style[python]: Disable pydocstyle lint D401 (#4618)
  py-polars/.flake8
Labels: python

fix[rust]: don't unnecessarily truncate datetimes on string casts (#4625)
  polars/polars-core/src/series/implementations/datetime.rs
  py-polars/tests/test_datelike.py
Labels: python, rust

docs[python]: Use numpydoc sections (#4619)
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/datetime.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/io.py
Labels: python

fix[python]: Add pytz to show_versions (#4632)
  py-polars/polars/show_versions.py
Labels: python

docs[python]: More docstring formatting (#4629)
  py-polars/.flake8
  py-polars/polars/convert.py
  py-polars/polars/datatypes.py
  py-polars/polars/internals/__init__.py
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/expr/list.py
  py-polars/polars/internals/expr/string.py
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/polars/internals/series/datetime.py
  py-polars/polars/internals/series/list.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/internals/series/string.py
  py-polars/polars/internals/series/struct.py
  py-polars/polars/internals/series/utils.py
Labels: python

test[rust]: Fix test warnings (#4626)
  polars/polars-arrow/src/kernels/sorted_join/left.rs
  polars/polars-core/src/chunked_array/ops/chunkops.rs
  polars/polars-core/src/datatypes/mod.rs
  polars/polars-core/src/series/from.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/tests/queries.rs
Labels: rust

style[python]: Clean up imports in PyO3 bindings (#4630)
  py-polars/src/apply/mod.rs
  py-polars/src/conversion.rs
  py-polars/src/dataframe.rs
  py-polars/src/error.rs
  py-polars/src/file.rs
  py-polars/src/lazy/dataframe.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/lazy/mod.rs
  py-polars/src/lib.rs
  py-polars/src/npy.rs
  py-polars/src/series.rs
Labels: python

feat[rust]: Add `Expr.sample_n` (#4623)
  polars/polars-core/src/chunked_array/random.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

fix[rust]: overlapping groups should not explode date in groupby (#4637)
  polars/polars-core/src/chunked_array/iterator/par/list.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_dynamic.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_rolling.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-time/src/windows/duration.rs
  py-polars/tests/test_rolling.py
Labels: python, rust

feat[rust]: more compact duration format (for table output) (#4638)
  polars/polars-core/src/fmt.rs
  py-polars/polars/internals/functions.py
Labels: python, rust

feat[python]!: Update `Expr.sample` signature and change random seeding (#4641)
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/src/series.rs
  py-polars/tests/test_exprs.py
Labels: python

fix[rust]: fix is_in empty list (#4640)
  polars/polars-lazy/src/dsl/function_expr/is_in.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/tests/test_lists.py
Labels: python, rust

Revert "feat[python]!: Update `Expr.sample` signature and change random seeding (#4641)" (#4643)
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/src/series.rs
  py-polars/tests/test_exprs.py
Labels: python

feat[rust]: Optional random seeds (#4624)
  polars/benches/sort.rs
  polars/polars-core/src/chunked_array/random.rs
  polars/polars-lazy/src/dsl/mod.rs
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_exprs.py
Labels: python, rust

fix[python]: enforce strict rules in expr.apply (#4645)
  polars/polars-core/src/utils/mod.rs
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  py-polars/docs/source/reference/datatypes.rst
  py-polars/polars/__init__.py
  py-polars/polars/datatypes.py
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/expr/expr.py
  py-polars/src/conversion.rs
  py-polars/src/lazy/apply.rs
  py-polars/src/lazy/dsl.rs
  py-polars/tests/test_lazy.py
  py-polars/tests/test_schema.py
Labels: python, rust

fix[python]: fix and test import without numpy (#4646)
  .github/workflows/test-python.yaml
  py-polars/polars/internals/series/series.py
Labels: python

ci: Cancel in-progress runs (#4652)
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/coverage.yaml
  .github/workflows/docs_check.yaml
  .github/workflows/fmt_all.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
Labels: none

python polars 0.14.7 (#4647)
  .github/workflows/create-py-release-manylinux-lts-cpu.yaml
  .github/workflows/create-py-release-manylinux.yaml
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python, rust

feat[python]: Allow use of builtin abs() (#4650)
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/test_exprs.py
  py-polars/tests/test_series.py
Labels: python

fix[rust]: break infinite loop in type coercion optimizer (#4653)
  polars/polars-lazy/src/dsl/function_expr/is_in.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
Labels: rust

Revert "ci: Cancel in-progress runs (#4652)" (#4657)
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/coverage.yaml
  .github/workflows/docs_check.yaml
  .github/workflows/fmt_all.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
Labels: none

feat[python]: turn invalid datatype panic ot error (#4658)
  py-polars/src/conversion.rs
  py-polars/src/lazy/dsl.rs
  py-polars/src/lib.rs
  py-polars/tests/test_errors.py
Labels: python

fix[rust]: test parquet statistics and fix encountered issues (#4656)
  polars/polars-io/src/parquet/predicates.rs
  polars/polars-io/src/parquet/read_impl.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/binary.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/tests/io/test_lazy_parquet.py
Labels: python, rust

feat[rust, python]: allow min/max on utf8 dtype (#4662)
  polars/polars-core/src/chunked_array/ops/aggregate.rs
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/test_utf8.py
Labels: python, rust

python polars 0.14.8 (#4663)
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

fix[rust]: allow explode aggregation context (#4664)
  polars/polars-lazy/src/physical_plan/expressions/take.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
  py-polars/tests/test_explode.py
Labels: python, rust

feat[rust,python]: support nested StringCache scope, enabling clean composition of frame pipeline units (#4665)
  polars/polars-core/src/chunked_array/logical/categorical/builder.rs
  polars/polars-core/src/chunked_array/logical/categorical/from.rs
  polars/polars-core/src/chunked_array/logical/categorical/stringcache.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/src/lib.rs
  py-polars/polars/__init__.py
  py-polars/polars/string_cache.py
  py-polars/src/lib.rs
  py-polars/tests/test_categorical.py
Labels: python, rust

ci: Cancel in-progress runs (second attempt) (#4666)
  .github/workflows/benchmark.yaml
  .github/workflows/build-test.yaml
  .github/workflows/coverage.yaml
  .github/workflows/docs_check.yaml
  .github/workflows/fmt_all.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-windows-python.yaml
  .github/workflows/test-windows.yaml
Labels: none

ci: do not run coverage on PRs (#4673)
  .github/workflows/coverage.yaml
Labels: none

refactor[rust]: remove explicit shift expression node (#4667)
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/nan.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  polars/polars-lazy/src/dsl/function_expr/shift.rs
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/logical_plan/aexpr.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/format.rs
  polars/polars-lazy/src/logical_plan/iterator.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/utils.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/shift.rs
  polars/polars-lazy/src/physical_plan/planner/expr.rs
Labels: rust

refactor[rust]: ensure we don't explode data in Expr::apply if groups overlap. This reduces memory pressure (#4672)
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/physical_plan/expressions/mod.rs
  polars/polars-lazy/src/physical_plan/state.rs
Labels: rust

refactor[python]: Rename private methods (#4682)
  py-polars/polars/internals/expr/expr.py
Labels: python

refactor[python]: Proper alias for `abs` (#4680)
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
Labels: python

docs[python]: Add examples and expand docs for pl.sum (#4676)
  py-polars/polars/internals/lazy_functions.py
Labels: python

refactor[python]: `_from_pyexpr` as `@classmethod` (#4681)
  py-polars/polars/internals/expr/expr.py
Labels: python

chore[python]: run cargo update (#4686)
  py-polars/Cargo.lock
Labels: python

.github/labeler.yml:

python:
  - py-polars/**/*
rust:
  - polars/**/*
