Repository backend-devloper/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, rust

.github/labeler.yml:

python:
  - py-polars/**/*
rust:
  - polars/**/*

refactor[rust]: remove agg_median from series trait (#4963)
  polars/polars-core/src/datatypes/dtype.rs
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/series_trait.rs
Labels: rust

refactor[rust]: remove agg_quantile from series trait (#4964)
  polars/polars-core/src/frame/groupby/aggregations/mod.rs
  polars/polars-core/src/series/implementations/dates_time.rs
  polars/polars-core/src/series/implementations/datetime.rs
  polars/polars-core/src/series/implementations/duration.rs
  polars/polars-core/src/series/implementations/floats.rs
  polars/polars-core/src/series/implementations/mod.rs
  polars/polars-core/src/series/series_trait.rs
Labels: rust

refactor(py-polars): readability improvements (#4965)
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/functions.py
  py-polars/polars/internals/slice.py
  py-polars/polars/io.py
  py-polars/tests/unit/io/test_csv.py
  py-polars/tests/unit/test_queries.py
  py-polars/tests/unit/test_schema.py
  py-polars/tests/unit/test_struct.py
Labels: python

docs[rust]: `polars-lazy` readability improvements (#4968)
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/polars-lazy/src/physical_plan/executors/groupby_partitioned.rs
  polars/polars-lazy/src/physical_plan/executors/slice.rs
Labels: rust

feat[rust, python]: start supporting SQL (#4967)
  polars-sql/Cargo.toml
  polars-sql/src/context.rs
  polars-sql/src/main.rs
  polars-sql/src/sql_expr.rs
  polars/polars-lazy/src/dot.rs
  polars/polars-lazy/src/dsl/expr.rs
  polars/polars-lazy/src/dsl/meta.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/lib.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/logical_plan/projection.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  polars/polars-lazy/src/utils.rs
  py-polars/Cargo.lock
  py-polars/Cargo.toml
  py-polars/docs/source/reference/index.rst
  py-polars/docs/source/reference/sql.rst
  py-polars/polars/__init__.py
  py-polars/polars/internals/sql/__init__.py
  py-polars/polars/internals/sql/context.py
  py-polars/src/lib.rs
  py-polars/src/sql.rs
  py-polars/tests/unit/io/test_sql_db.py
  py-polars/tests/unit/test_sql.py
Labels: python, rust

feat[sql]: compounded names in join operation and is between expressions (#4971)
  polars-sql/src/context.rs
  polars-sql/src/sql_expr.rs
  py-polars/docs/source/reference/sql.rst
  py-polars/tests/unit/test_sql.py
Labels: python

feat[sql]: trim function (#4973)
  polars-sql/Cargo.toml
  polars-sql/src/sql_expr.rs
  polars/polars-arrow/Cargo.toml
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  polars/polars-lazy/src/dsl/function_expr/strings.rs
  polars/polars-lazy/src/dsl/string.rs
  py-polars/Cargo.lock
  py-polars/polars/internals/expr/string.py
  py-polars/polars/internals/series/string.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_series.py
  py-polars/tests/unit/test_sql.py
Labels: python, rust

feat[sql]: allow some compounded names (#4974)
  polars-sql/src/context.rs
  polars-sql/src/lib.rs
  polars-sql/src/sql_expr.rs
  py-polars/src/sql.rs
  py-polars/tests/unit/test_sql.py
Labels: python

fix test[rust]: test_cat_lexical_sort occasionally fails (#4975)
  polars/polars-core/src/chunked_array/ops/sort/categorical.rs
Labels: rust

feat[rust, python]: cast timezone (#4976)
  polars/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/dt.rs
  polars/polars-lazy/src/dsl/function_expr/datetime.rs
  polars/polars-lazy/src/dsl/function_expr/mod.rs
  polars/polars-lazy/src/dsl/function_expr/schema.rs
  polars/polars-time/Cargo.toml
  polars/polars-time/src/chunkedarray/datetime.rs
  polars/polars-time/src/chunkedarray/kernels.rs
  py-polars/Cargo.lock
  py-polars/docs/source/reference/expression.rst
  py-polars/docs/source/reference/series.rst
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/series/datetime.py
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, rust

rust polars 0.24.2 (#4980)
  polars/Cargo.toml
  polars/polars-algo/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

python polars 0.14.14 (#4977)
  polars-sql/Cargo.toml
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

feat[python]: parametric tests can now generate example dataframes and series with/without chunked data (#4981)
  py-polars/polars/testing.py
  py-polars/tests/parametric/test_testing.py
Labels: python

feat[rust]: add time and categorical to serde types (#4984)
  polars/polars-core/src/serde/chunked_array.rs
  polars/polars-core/src/serde/mod.rs
  polars/polars-core/src/serde/series.rs
  py-polars/polars/testing.py
  py-polars/tests/unit/io/test_json.py
Labels: python, rust

chore: update rustc (#4985)
  .github/deploy_manylinux.sh
  .github/workflows/benchmark.yaml
  .github/workflows/build-test-rust.yaml
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux-lts-cpu.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  .github/workflows/docs-deploy.yaml
  .github/workflows/lint-python.yaml
  .github/workflows/test-python.yaml
  Cargo.toml
  polars/polars-algo/Cargo.toml
  polars/polars-arrow/Cargo.toml
  polars/polars-arrow/src/kernels/list.rs
  polars/polars-core/Cargo.toml
  polars/polars-core/src/chunked_array/logical/categorical/ops/unique.rs
  polars/polars-core/src/chunked_array/ops/unique/rank.rs
  polars/polars-core/src/frame/row.rs
  polars/polars-io/Cargo.toml
  polars/polars-io/src/csv/read_impl.rs
  polars/polars-io/src/ipc/ipc_stream.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/logical_plan/optimizer/cse.rs
  polars/polars-lazy/src/physical_plan/executors/scan/mod.rs
  polars/polars-ops/Cargo.toml
  polars/polars-ops/src/series/ops/various.rs
  polars/polars-time/Cargo.toml
  polars/polars-utils/Cargo.toml
  py-polars/src/apply/dataframe.rs
  py-polars/src/apply/series.rs
  rust-toolchain.toml
Labels: python, rust

fix[rust]: unset sorted flag after extend (#4986)
  polars/polars-core/src/chunked_array/ops/append.rs
  polars/polars-core/src/chunked_array/ops/extend.rs
  py-polars/tests/unit/test_sort.py
Labels: python, rust

chore[rust]: remove parking lot dep (#4987)
  Cargo.toml
  polars-sql/Cargo.toml
  polars/polars-core/src/frame/groupby/aggregations/dispatch.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/list.rs
  polars/polars-lazy/src/logical_plan/builder.rs
  polars/polars-lazy/src/logical_plan/conversion.rs
  polars/polars-lazy/src/logical_plan/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/window.rs
  polars/polars-lazy/src/physical_plan/file_cache.rs
  polars/polars-lazy/src/physical_plan/node_timer.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-utils/Cargo.toml
  polars/polars-utils/src/contention_pool.rs
  py-polars/Cargo.lock
Labels: python, rust

refactor[rust]: keep imports private in polars-lazy::logical_plan::optimize (#4989)
  polars/polars-core/Cargo.toml
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/aggregate_pushdown.rs
  polars/polars-lazy/src/logical_plan/optimizer/cache_states.rs
  polars/polars-lazy/src/logical_plan/optimizer/cse.rs
  polars/polars-lazy/src/logical_plan/optimizer/delay_rechunk.rs
  polars/polars-lazy/src/logical_plan/optimizer/drop_nulls.rs
  polars/polars-lazy/src/logical_plan/optimizer/fast_projection.rs
  polars/polars-lazy/src/logical_plan/optimizer/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/src/logical_plan/optimizer/simplify_expr.rs
  polars/polars-lazy/src/logical_plan/optimizer/slice_pushdown_lp.rs
  polars/polars-lazy/src/logical_plan/optimizer/stack_opt.rs
  polars/polars-lazy/src/logical_plan/optimizer/type_coercion.rs
  polars/polars-lazy/src/physical_plan/executors/scan/csv.rs
  polars/polars-lazy/src/physical_plan/executors/scan/ipc.rs
  polars/polars-lazy/src/physical_plan/executors/scan/mod.rs
  polars/polars-lazy/src/physical_plan/executors/scan/parquet.rs
  polars/polars-lazy/src/physical_plan/file_cache.rs
  polars/polars-lazy/src/physical_plan/state.rs
  polars/polars-lazy/src/prelude.rs
  polars/polars-lazy/src/tests/mod.rs
  polars/polars-lazy/src/utils.rs
Labels: rust

fix[python, rust]: allow `expr+series` as well as `series+expr`, address some micros/millis timeunit debt (#4988)
  polars/polars-lazy/src/dsl/functions.rs
  polars/polars-lazy/src/logical_plan/lit.rs
  py-polars/polars/internals/lazy_functions.py
  py-polars/polars/internals/series/series.py
  py-polars/polars/testing.py
  py-polars/src/lib.rs
  py-polars/tests/parametric/test_series.py
  py-polars/tests/unit/test_df.py
  py-polars/tests/unit/test_series.py
Labels: python, rust

fix[rust]: error on unknown supertype in fill null (#5002)
  polars/polars-lazy/src/dsl/function_expr/fill_null.rs
  py-polars/tests/unit/test_errors.py
Labels: python, rust

fix[rust]: always use global string cache when parsing categoricals from csv (#5001)
  polars/polars-core/src/chunked_array/logical/categorical/stringcache.rs
  polars/polars-core/src/frame/hash_join/mod.rs
  polars/polars-io/src/csv/read.rs
  py-polars/tests/unit/io/test_csv.py
Labels: python, rust

feat[python]: more detailed validation of EWM parameters (#5003)
  py-polars/polars/internals/expr/expr.py
  py-polars/tests/unit/test_series.py
Labels: python

fix[rust]: block projection pd on melt if no values-args given (#5005)
  polars/polars-lazy/src/logical_plan/optimizer/projection_pushdown.rs
  py-polars/tests/unit/test_projections.py
Labels: python, rust

tests[python]: more control over parametrically-generated floats (optionally disallow +/-inf) (#5007)
  py-polars/polars/testing.py
  py-polars/tests/parametric/test_testing.py
Labels: python

chore[rust] update arrow2 to version 0.14.1 (#5008)
  Cargo.toml
Labels: none

docs[python] more expr docstrings (#4992)
  py-polars/polars/internals/expr/datetime.py
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/datetime.py
  py-polars/polars/internals/series/series.py
Labels: python

refactor[rust]: prepare csv code for batched reading (#4999)
  Cargo.toml
  polars/polars-io/src/csv/mod.rs
  polars/polars-io/src/csv/read.rs
  polars/polars-io/src/csv/read_impl.rs
  polars/polars-io/src/utils.rs
  polars/polars-lazy/Cargo.toml
  polars/polars-lazy/src/dsl/mod.rs
  polars/polars-lazy/src/prelude.rs
  polars/polars-pipe/Cargo.toml
  polars/polars-pipe/src/lib.rs
  polars/polars-pipe/src/operators/chunks.rs
  polars/polars-pipe/src/operators/context.rs
  polars/polars-pipe/src/operators/mod.rs
  polars/polars-pipe/src/operators/operator.rs
  polars/polars-pipe/src/operators/sink.rs
  polars/polars-pipe/src/operators/source.rs
  polars/polars-time/src/chunkedarray/rolling_window/mod.rs
  py-polars/Cargo.lock
Labels: python, rust

polars rust 0.24.3 (#5015)
  Cargo.toml
  polars/Cargo.toml
  polars/polars-algo/Cargo.toml
  polars/polars-core/Cargo.toml
  polars/polars-io/Cargo.toml
  polars/polars-lazy/Cargo.toml
  polars/polars-ops/Cargo.toml
  polars/polars-pipe/Cargo.toml
  polars/polars-time/Cargo.toml
  py-polars/Cargo.lock
Labels: python, rust

fix[rust]: fix timezone cast (#5016)
  polars/polars-time/src/chunkedarray/kernels.rs
  py-polars/polars/internals/series/datetime.py
  py-polars/tests/unit/test_datelike.py
Labels: python, rust

refactor[rust]: simpler timezone cast (#5014)
  polars/polars-time/src/chunkedarray/kernels.rs
Labels: rust

feat[python]: Improve numpy ufunc dtype support in expressions (#3228, #5012) (#5017)
  py-polars/polars/internals/expr/expr.py
  py-polars/polars/internals/series/series.py
  py-polars/tests/unit/test_lazy.py
  py-polars/tests/unit/test_series.py
Labels: python

fix[python, rust]: special-case `ewm_mean(alpha=1)` (#5019)
  polars/polars-arrow/src/kernels/ewm/average.rs
Labels: rust

performance[rust]: don't execute unused with_column expressions (#5026)
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/frame/mod.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
Labels: rust

docs: fix docs by activating docfg feature (#5028)
  polars/polars-lazy/polars-plan/Cargo.toml
  polars/polars-lazy/polars-plan/src/lib.rs
Labels: rust

performance[rust]: improve predicate pushdown + with_columns (#5029)
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown.rs
  polars/polars-lazy/src/tests/optimization_checks.rs
Labels: rust

performance[rust]: prune unneeded projections (#5032)
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown.rs
  py-polars/tests/unit/test_projections.py
Labels: python, rust

fix[rust]: only consider dt series equal if they have the same tz (#5025)
  polars/polars-core/src/testing.rs
  py-polars/tests/unit/test_datelike.py
Labels: python, rust

Implement histogram (#4752)
  polars/polars-algo/src/algo.rs
  polars/polars-algo/src/lib.rs
  polars/polars-algo/src/prelude.rs
  polars/src/prelude.rs
Labels: rust

chore: Update mypy (#5035)
  .github/workflows/test-python.yaml
  py-polars/requirements-dev.txt
Labels: python

fix[rust]: ensure all predicates use same key function when inserting in hashmap (#5034)
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/predicate_pushdown/mod.rs
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/predicate_pushdown/utils.rs
Labels: rust
