Repository backend-devloper/polars, changes with the labels that .github/labeler.yml gives for each.
All labels: python, rust

.github/labeler.yml:

python:
  - py-polars/**/*
rust:
  - polars/**/*

fix[rust]: apply flat overlapping row groups when possible (#5039)
  polars/polars-lazy/polars-plan/src/dsl/mod.rs
  polars/polars-lazy/src/physical_plan/expressions/apply.rs
  py-polars/tests/unit/test_groupby.py
Labels: python, rust

ci[python]: Parallelize manylinux releases (#4849)
  .github/workflows/create-py-release-manylinux-lts-cpu.yaml
  .github/workflows/create-py-release-manylinux.yaml
Labels: none

fix[python]: allow u64 literals (#5044)
  py-polars/src/lazy/dsl.rs
  py-polars/tests/unit/test_constructors.py
Labels: python

ci[python]: Use maturin-action for Windows/macOS release (#4850)
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-windows-macos.yaml
Labels: none

ci: Update docs-deploy workflow (#4993)
  .github/workflows/docs-deploy.yaml
Labels: none

chore[python]: Routine dev dependency update (#5041)
  .github/workflows/create-py-mac-universal2-release.yaml
  .github/workflows/create-py-release-manylinux-lts-cpu.yaml
  .github/workflows/create-py-release-manylinux.yaml
  .github/workflows/create-py-release-windows-macos.yaml
  py-polars/docs/requirements-docs.txt
  py-polars/pyproject.toml
  py-polars/requirements-dev.txt
  py-polars/requirements-lint.txt
Labels: python

feat[python]: improve fill_null ergonomics (#5045)
  py-polars/polars/internals/dataframe/frame.py
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/tests/unit/test_errors.py
  py-polars/tests/unit/test_series.py
Labels: python

python polars 0.14.15
  py-polars/Cargo.lock
  py-polars/Cargo.toml
Labels: python

tests[python]: parametric test coverage for EWM functions (#5011)
  py-polars/polars/testing.py
  py-polars/tests/parametric/test_dataframe.py
  py-polars/tests/parametric/test_lazyframe.py
  py-polars/tests/parametric/test_series.py
  py-polars/tests/parametric/test_testing.py
Labels: python

Update Makefile
  py-polars/Makefile
Labels: python

fix[python]: add missing cse param to LazyFrame "profile" method (#5054)
  py-polars/polars/internals/lazyframe/frame.py
  py-polars/tests/unit/test_lazy.py
Labels: python

feat[python]: Support `Series` init as struct from `@dataclass` and annotated `NamedTuple` (#5057)
  py-polars/polars/datatypes.py
  py-polars/polars/internals/construction.py
  py-polars/tests/unit/test_series.py
Labels: python

chore(python, rust): Small update to issue templates (#5055)
  .github/ISSUE_TEMPLATE/bug_report_nodejs.yml
  .github/ISSUE_TEMPLATE/bug_report_python.yml
  .github/ISSUE_TEMPLATE/bug_report_rust.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
Labels: none

fix(rust): double projections should be checked on input schema (#5058)
  polars/polars-lazy/polars-plan/src/logical_plan/optimizer/projection_pushdown.rs
Labels: rust
